<!-- About -->
<section id="pageid">
  <div class="container content-section "> <!--text-center-->
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 class="d-block">Fitness in 100 Words</h2>
        <p>
          Eat meat and vegetables, nuts and seeds, some fruit, little starch and no sugar. Keep intake to levels that
          will support exercise but not body fat.<br/><br/>

          Practice and train major lifts: Deadlift, clean, squat, presses, clean and jerk, and snatch. Similarly master
          the basics of gymnastics: pull-ups, dips, rope climb, push-ups, sit-ups, presses to handstand, pirouettes,
          flips, splits, and holds. Bike, run, swim, row etc, hard and fast.<br/><br/>

          Five or six days per week mix these elements in as many combinations and patterns as creativity will allow.
          Routine is the enemy. Keep workouts short and intense.<br/><br/>

          Regularly learn and play new sports.<br/>
        </p>
        <img src="/img/db-tattoo.jpg" alt="Photo by Victor Freitas on https://unsplash.com">
        <p>
          <a href="#" class="btnghost"><i class="fa fa-download"></i> a dump link</a>
        </p>
      </div>
    </div>
  </div>
</section>