<!-- About -->
<section id="pageid">
  <div class="container content-section text-center">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 class="d-block">THATS ABOUT ME</h2>
        <p>
          Praesent ac dignissim diam. Aliquam lobortis elit et sapien eleifend, at sollicitudin metus elementum. Morbi
          imperdiet id ipsum at tristique. Nam suscipit tristique sem, <a href="#">quis</a> laoreet leo. Maecenas eget
          ante ipsum.
        </p>
        <img
        src="https://images.unsplash.com/photo-1504626835342-6b01071d182e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=975855d515c9d56352ee3bfe74287f2b&auto=format&fit=crop&w=750&q=80"
        alt="">
        <p>
          <a href="#" class="btnghost"><i class="fa fa-download"></i> Curriculum Vitae</a>
        </p>
      </div>
    </div>
  </div>
</section>