<!-- Intro -->
<div class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1 class="brand-heading">THIS IS TRNBTL</h1>
          <p class="intro-text">
            auf dich haben wir gewartet
          </p>
          <!-- <img src="img/banner.jpeg" alt=""> -->
          <a href="#pageid" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>